
# Domain Configuration
# For Arabic: marciledu.com
# For English: ijcmit.com
DOMAIN=localhost

# Django Settings Configuration
DEBUG=True
# For Arabic: localhost,127.0.0.1,marciledu.com,www.marciledu.com
# For English: localhost,127.0.0.1,ijcmit.com,www.ijcmit.com
ALLOWED_HOSTS=localhost,127.0.0.1
SECRET_KEY=django-insecure-s)jv^rezs#!*0d427()-u7t$ki$6)^#shf(ck&#!3rw2=kic1t

# Multi-site configuration
SITE_LANGUAGE=ar # Options: ar, en

# Database settings (Defaults to sqlite if empty)
# Example for MySQL: mysql://user:pass@localhost/db_name
DATABASE_URL=

# Dynamic email backend configurations
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
